<!DOCTYPE html>
<html>
  <head>
    <title>Scanner App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>Welcome to Scanner App!</h1>
    <p>Scanner App is a simple web application that allows you to scan your hosts and services. With Scanner App, you can easily identify potential security vulnerabilities and ensure that your network is secure.</p>
    <h2>User Manual</h2>
    <p>To use Scanner App, simply navigate to the "Scan" page and enter the "Host" you wish to scan. Click the "Scan" button and wait for the results to appear. You can then view the host and services that were found in "Result" page in navigation bar.</p>
  </body>
</html>
